extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Brian Jensen
        p.lead.text-light
          | Full Stack Web Developer.
        .portfolio-bio
          p
            | Treehouse Front-End Web Development Techdegree graduate and moderator.
            | Currently a Treehouse Full-Stack JavaScript Techdegree student.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li React
          li Express
          li Pug
          li jQuery
          li JavaScript 
          li Sass
          li CSS
          li HTML
        h6 Contact Info
        ul
          li 520-975-3461
          li jensenbrian@gmail.com
        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/brian-jensen-b40a96132/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/brian-jensen') GitHub
        a.button.expanded(target="_blank" href='https://twitter.com/Brian_Jensen_AZ') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  